<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanjiaming99.mapper.BlogMapper">


    <insert id="createBlog">
        insert into tb_blog (blog_id, blog_title,
                             blog_cover_image, blog_category_id, blog_category_name,
                             blog_tags, blog_status,
                             enable_comment, is_deleted, blog_content)
        values (#{dto.blogId}, #{dto.blogTitle},
                #{dto.blogCoverImage}, #{dto.blogCategoryId},
                #{dto.blogCategoryName},
                #{dto.blogTags}, #{dto.blogStatus},
                #{dto.enableComment}, #{dto.isDeleted}, #{dto.blogContent})
    </insert>
</mapper>
